// ------------------------------------------
// conf
// ------------------------------------------

// 配置：初始化引入的component
$conf-layout: 		false; //布局
$conf-btn: 		    false; //按钮
$conf-search: 		false; //搜索框
$conf-table: 		false; //表格
$conf-treeselect: 	false; //树状目录
$conf-pagination: 	false; //分页
$conf-dropdown: 	false; //下拉列表
$conf-modal: 		false; //弹窗
$conf-form: 		false; //表单
$conf-input: 		false; //输入框
$conf-radio: 		false; //单选
$conf-checkbox: 	false; //多选
$conf-tab:          false; //tab标签切换
$conf-sort:         false; //分类
$conf-date-picker: 	false; //日期选择器
$conf-empty: 	    false; //占位图
$conf-filter: 	    false; //筛选器（自定义）