$side-w:300;
// conf
@import "_base/_conf";
// theme and mixins
@import "_base/_mixin";
@import "_base/_breakpoint";
// reset
@import "_base/_reset"; // default
@include import-reset();
@import "../styles/_fonts/iconfont.scss";
@keyframes shine {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 5px 5px #fff, 0 0 0 5px rgba(255, 255, 255, 0.5); // transform: scale(1.05);
        opacity: 0;
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes float {
    0% {
        margin-top: 0;
    }
    100% {
        margin-top: unit(6);
    }
}

@keyframes shake {
    0% {
        margin-left: unit(-3);
    }
    100% {
        margin-right: unit(3);
    }
}

@keyframes translateX {
    25% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateX(0);
    }
}

@keyframes translateY {
    0% {
        transform: translateY(-50px);
    }
    25% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes scale {
    25% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(1.15);
    }
    75% {
        transform: scaleX(1);
    }
}

.w__container {
    max-width: 90%;
    margin: 0 auto;
}

.w-title {
    position: relative;
    font-size: unit(40);
    color: #fff;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: unit(-8);
        display: inline-block;
        width: unit(40);
        height: unit(2);
        background: #99ccff;
        transition: all 1.5s;
    }
    &:after {
        content: '';
        right: 0;
        position: absolute;
        bottom: unit(-8);
        display: inline-block;
        width: unit(40);
        height: unit(2);
        background: #99ccff;
        transition: all 1.5s;
    }
}

#w-fullpage {
    height: 100%;
    .section {
        &.active {
            .w-title {
                &:before {
                    left: 50%;
                }
                &:after {
                    right: 50%;
                }
            }
        }
    }
    .page1 {
        @include bgurl("bg1.png");
        background-size: cover;
        .w-show {
            text-align: center;
            &__photo {
                width: unit(160);
                height: unit(160);
                padding: unit(10);
                margin: auto;
                background: #fff;
                border-radius: 50%;
                overflow: hidden;
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
            }
            &__intro {
                color: #fff;
                font-size: unit(40);
                margin-top: unit(40);
            }
            &__des {
                display: none;
                padding: 0 unit(100);
                color: #fff;
                line-height: 1.5;
                font-size: unit(16);
                margin-top: unit(20);
            }
        }
        #output {
            .w-show__des {
                display: block;
            }
        }
    }
    .page2 {
        @include bgurl("bg2.png");
        background-size: cover;
        .w-info {
            text-align: center;
            &__list {
                margin-top: unit(60);
                margin-bottom: unit(40);
            }
            &__item {
                position: relative;
                display: inline-block;
                min-width: unit(150);
                text-align: center;
                font-size: 0;
                padding-top: unit(120);
                text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.8);
                i {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    margin-left: unit(-50);
                    display: inline-block;
                    animation: float 1s infinite alternate;
                    width: unit(100);
                    height: unit(100);
                    line-height: unit(100);
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.5);
                    cursor: pointer;
                    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
                    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
                    transition: all 0.3s;
                }
                span {
                    color: #fff;
                    font-size: unit(16);
                }
                i {
                    &:before {
                        @extend %iconfont;
                        display: inline-block;
                        vertical-align: top;
                        color: #fff;
                        font-size: unit(50);
                    }
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &.age {
                    i:before {
                        @extend %icon-user;
                    }
                }
                &.education {
                    i:before {
                        @extend %icon-education;
                    }
                }
                &.address {
                    i:before {
                        @extend %icon-address;
                    }
                }
                &.work {
                    i:before {
                        @extend %icon-zuanshi;
                    }
                }
            }
            &__des {
                margin-top: unit(10);
                line-height: 1.5;
                color: #fff;
                font-size: unit(16);
            }
        }
    }
    .page3 {
        @include bgurl("bg3.png");
        background-size: cover;
        .w-skill {
            text-align: center;
            &__list {
                margin-top: unit(40);
                margin-bottom: unit(40);
                font-size: 0;
            }
            &__item {
                position: relative;
                margin-right: unit(10);
                background: rgba(0, 0, 0, 0.6);
                border-radius: unit(5);
                display: inline-block;
                height: unit(28);
                line-height: unit(28);
                padding: 0 unit(15);
                font-size: unit(14);
                cursor: pointer;
                border: 1px solid #99CCFF;
                color: #99CCFF;
                overflow: hidden;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0;
                    top: 0;
                    background-color: #99CCFF;
                    -webkit-transition: all .4s;
                    transition: all .3s;
                }
                &:before {
                    left: -48%;
                    transform: skew(-45deg, 0);
                }
                &:after {
                    right: -48%;
                    transform: skew(-45deg, 0);
                }
                span {
                    position: relative;
                    z-index: 1;
                }
                &:hover {
                    color: #27323A;
                    &:before,
                    &:after {
                        width: 100%
                    }
                }
            }
            &__des {
                color: #fff;
                font-size: unit(16);
                line-height: 1.5;
                margin-bottom: unit(10);
            }
        }
    }
    .page4 {
        @include bgurl("bg4.png");
        background-size: cover;
        .w-experience {
            text-align: center;
            &__list {
                position: relative;
                margin-top: unit(50);
                min-height: unit(300);
                &:before {
                    content: '';
                    position: absolute;
                    border-radius: unit(10);
                    opacity: 0.7;
                    width: unit(10);
                    top: unit(-10);
                    bottom: unit(-10);
                    background: #fff;
                    left: 50%;
                    margin-left: unit(-5);
                }
            }
            &__item {
                position: relative;
                display: block;
                min-height: unit(200);
                padding: 0 unit(180);
                overflow: hidden;
                cursor: pointer;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 70px #111;
                    .w-experience__time:before {
                        border: 2px dashed #99ccff;
                        animation: rotate 9s linear infinite;
                    } // animation: shake 0.8s infinite alternate;
                }
            }
            &__card {
                position: absolute;
                left: 50%;
                margin-left: unit(-420);
                margin-top: unit(20);
                position: relative;
                padding: unit(60) unit(20) unit(20);
                background: rgba(0, 0, 0, 0.1);
                width: unit(350);
                border-radius: unit(5); // box-shadow: 0px 0px 5px 3px rgba(51, 153, 204, 0.1);
                margin-bottom: unit(20);
                transition: all 0.3s;
                cursor: pointer;
                &.right {
                    right: -50%;
                    margin-left: unit(70);
                    left: unset;
                    .w-experience__name {
                        &:after {
                            left: unit(-10);
                            right: unset;
                            border-left: unit(5) solid transparent;
                            border-right: unit(5) solid #3399cc;
                            border-top: unit(5) solid transparent;
                            border-bottom: unit(5) solid transparent;
                        }
                    }
                }
                &:before {
                    // content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, 0.8);
                    transform: rotate(4deg);
                    box-shadow: 1px 1px 6px -2px rgba(51, 153, 204, 0.4);
                }
                &:after {
                    // content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: rgba(255, 255, 255, 0.8);
                    transform: rotate(-4deg);
                    box-shadow: 1px 1px 6px -2px rgba(153, 204, 255, 0.5);
                }
                &:hover {}
            }
            &__time {
                display: inline-block;
                position: absolute;
                z-index: 5;
                top: unit(10);
                left: 50%;
                margin-left: unit(-45);
                z-index: 1;
                font-size: unit(14);
                color: #fff;
                width: unit(90);
                height: unit(90);
                line-height: unit(100);
                background: rgba(0, 0, 0, 0.9);
                border-radius: 50%;
                transition: all 0.5s;
                cursor: pointer;
                p {
                    line-height: unit(45);
                    &:first-child {
                        text-align: left;
                        transform: rotate(-45deg)
                    }
                    &:last-child {
                        text-align: right;
                        transform: rotate(-45deg)
                    }
                }
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    height: unit(90);
                    width: 1px;
                    background: #99ccff;
                    transform: rotate(45deg);
                }
                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    border: 2px solid rgb(153, 204, 255);
                }
            }
            &__name {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: unit(50);
                z-index: 1;
                font-size: unit(20);
                font-weight: bold;
                color: #fff;
                line-height: unit(50);
                background: rgb(51, 153, 204);
                transition: all 0.3s;
                border-top-left-radius: unit(5);
                border-top-right-radius: unit(5);
                letter-spacing: unit(3);
                text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
                &:after {
                    content: '';
                    position: absolute;
                    right: unit(-5);
                    top: unit(20);
                    width: 0;
                    height: 0;
                    border-left: unit(5) solid #3399cc;
                    border-top: unit(5) solid transparent;
                    border-bottom: unit(5) solid transparent;
                }
            }
            &__des {
                position: relative;
                z-index: 1;
                font-size: unit(16);
                line-height: 1.5;
                text-align: left;
                word-break: break-all;
                color: #fff;
                font-weight: bold;
                p {
                    font-size: unit(14);
                    color: #fff;
                    font-weight: normal;
                }
            }
        }
    }
    .page5 {
        @include bgurl("bg5.png");
        background-size: cover;
        .w-contact {
            text-align: center;
            &__panel {
                border-radius: unit(10);
                margin: unit(80) auto;
                width: unit(400);
                height: unit(200);
                background: rgba(0, 0, 0, 0.5)
            }
            p {
                color: #fff;
            }
            &__motto {
                font-size: unit(16);
            }
            &__list {
                padding: unit(30) unit(20) unit(10);
            }
            &__ball {
                position: relative;
                display: inline-block;
                width: unit(259);
                height: unit(50);
                .w-wrap {
                    position: absolute;
                    width: unit(50);
                    height: unit(50);
                }
                .w-ball {
                    width: unit(50);
                    height: unit(50);
                    box-shadow: 0 unit(-5) 0 rgba(0, 0, 0, 0.15) inset; // background-color: #397BF9;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: 50%;
                    border: 1px dashed #99ccff;
                    position: absolute;
                    color: #fff;
                    line-height: unit(48);
                    font-size: unit(14);
                    font-weight: bold;
                }
                .w-ball2 {
                    left: 50px;
                }
                .w-ball3 {
                    left: 100px;
                }
                .w-ball4 {
                    left: 150px;
                }
                .w-wrap1a,
                .w-wrap1b {
                    transform: translateX(-100px);
                    animation: translateX 800ms infinite ease-in;
                }
                .w-ball1a,
                .w-ball1b {
                    transform: translateY(-100px);
                    animation: translateY 800ms infinite ease-in-out;
                }
                .w-wrap2a,
                .w-wrap2b {
                    transform: translateX(100px);
                    left: 200px;
                    position: absolute;
                    animation: translateX 800ms infinite ease-in;
                    animation-delay: -400ms;
                }
                .w-ball5a,
                .w-ball5b {
                    // background-color: #E3746B;
                    animation: translateY 800ms infinite ease-in-out;
                    animation-delay: -400ms;
                }
                .w-ball1b,
                .w-ball5b,
                .w-wrap1b,
                .w-wrap2b {
                    animation-direction: reverse;
                }
            }
            &__item {
                color: #fff;
                width: 80%;
                display: flex;
                height: unit(20);
                line-height: unit(20);
                margin-bottom: unit(10);
                transition: all 0.3s;
                cursor: default;
                border-left: 1px solid #99ccff;
                font-size: unit(14);
                span {
                    &:first-child {
                        text-align: right;
                        flex: 1;
                    }
                    &:last-child {
                        text-align: left;
                        flex: 3;
                    }
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}

#w-menu {
    position: absolute;
    z-index: 3;
    right: unit(40/2);
    top: 50%;
    margin-top: unit(-(280-40)/2);
    li {
        &.active {
            .w-menu__item {
                transform: scale(2);
                &:after {
                    animation: shine linear 2s 0.5s infinite;
                }
                &:before {
                    display: block;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(0.5);
                    color: #fff;
                    display: inline-block;
                    font-size: unit(20);
                }
                &--1 {
                    &:before {
                        @extend %icon-index;
                    }
                }
                &--2 {
                    &:before {
                        @extend %icon-user;
                    }
                }
                &--3 {
                    &:before {
                        font-size: unit(24);
                        @extend %icon-education;
                    }
                }
                &--4 {
                    &:before {
                        top: 54%;
                        @extend %icon-zuanshi;
                    }
                }
                &--5 {
                    &:before {
                        @extend %icon-contact;
                    }
                }
            }
        }
    }
    .w-menu__item {
        position: relative;
        display: block;
        cursor: pointer;
        width: unit(16);
        height: unit(16);
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.4);
        margin-bottom: unit(40);
        @extend %iconfont;
        text-align: center;
        line-height: unit(40);
        transition: all 0.3s;
        &:after {
            content: '';
            position: absolute;
            box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
            opacity: 0;
            transform: scale(0.9);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            transform: all 1s;
            left: 0;
            top: 0;
        }
        &:hover {
            transform: scale(2);
            &:before {
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(0.5);
                color: #fff;
                font-size: unit(20);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .w-title {
        font-size: unit(60);
    }
    .w__container {
        max-width: 70%;
    }
    #w-fullpage .page4 .w-experience{
        max-width: 90%;
    }
    .w-info__list {
        display: flex;
    }
    #w-fullpage .page2 .w-info__item span {
        font-size: unit(36);
        flex: 1;
    }
    #w-fullpage .page1 .w-show__des{
        padding: 0;
    }
    #w-fullpage .page1 .w-show__intro{
        font-size: unit(60);
    }
    .w-show__des,
    .w-info__des,
    .w-skill__des {
        font-size: unit(36) !important;
    }
    #w-fullpage .page4 .w-experience__time{
        transform: scale(1.3);
        top: unit(40);
    }
    #w-fullpage .page4 .w-experience__des {
        font-size: unit(30);
    }
    #w-fullpage .page4 .w-experience__name{
        font-size: unit(24);
    }
    #w-fullpage .page4 .w-experience__card{
        transform: scale(1.05);
        margin-top:unit(30);
        margin-left: -430px;
    }
    #w-fullpage .page4 .w-experience__card.right{
        margin-left:unit(80);
    }
    #w-fullpage .page4 .w-experience__des p {
        font-size: unit(24);
    }
    #w-fullpage .page3 .w-skill__item {
        height: unit(60);
        line-height: unit(60);
        margin-bottom: unit(20);
        padding: 0 unit(20);
        font-size: unit(32);
        cursor: pointer;
        border: 1px solid #99CCFF;
        color: #99CCFF;
        overflow: hidden;
    }
    #w-fullpage .page5 .w-contact__panel {
        transform: scale(1.5)
    }
    #w-fullpage .page5 .w-contact__item {
        font-size: unit(20);
    }
    #w-fullpage .page5 .w-contact__panel {
        margin: unit(130) auto;
    }
    .w-contact__ball {
        transform: scale(1.5)
    }
}