@@include("./_include/_com-meta.html")
</head>

<body>
    <ul id="w-menu">
        <li data-menuanchor='page1' class="active">
            <a href="#page1" class="w-menu__item w-menu__item--1 active">
            </a>
        </li>
        <li data-menuanchor='page2'>
            <a href="#page2" class="w-menu__item w-menu__item--2">
            </a>
        </li>
        <li data-menuanchor='page3'>
            <a href="#page3" class="w-menu__item w-menu__item--3">
            </a>
        </li>
        <li data-menuanchor='page4'>
            <a href="#page4" class="w-menu__item w-menu__item--4">
            </a>
        </li>
        <li data-menuanchor='page5'>
            <a href="#page5" class="w-menu__item w-menu__item--5">
            </a>
        </li>
    </ul>
    <div id="w-fullpage">
        <div class="section page1">
            <div class="w-show w__container">
                <div class="w-show__photo">
                    <img src="../images/photo.png" alt="">
                </div>
                <h2 class="w-show__intro">Hi,I am Banana</h2>
                <div id="source">
                    <p class="w-show__des">
                        我叫王娟，22岁，坐标福州，计算机专业出身，目前在职，现在想找一份前端方面的工作，设计了这份简历，下面请往下滚动来了解我吧٩(๑❛ᴗ❛๑)۶٩(๑❛ᴗ❛๑)۶
                    </p>
                </div>
                <div id="output">
                </div>
            </div>
        </div>
        <div class="section page2">
            <div class="w-info w__container">
                <p class="w-info__title w-title">
                    关于我
                </p>
                <ul class="w-info__list">
                    <li class="w-info__item age">
                        <i></i>
                        <span>年龄/22岁</span>
                    </li>
                    <li class="w-info__item education">
                        <i></i>
                        <span>本科/厦门大学</span>
                    </li>
                    <li class="w-info__item work">
                        <i></i>
                        <span>状态/在职</span>
                    </li>
                    <li class="w-info__item address">
                        <i></i>
                        <span>坐标/福州</span>
                    </li>
                </ul>
                <p class="w-info__des">
                    一年半前端工作经验经验
                </p>
                <p class="w-info__des">
                    具有面向对象设计思想，具备独立分析和解决问题的能力
                </p>
                <p class="w-info__des">
                    前端工作贴近用户，需要细心与耐心，更需要热情
                </p>
                <p class="w-info__des">
                    我热爱前端，也热爱这份工作，学习能力、工作效率都棒棒哒！
                </p>
            </div>
        </div>
        <div class="section page3">
            <div class="w-skill w__container">
                <p class="w-skill__title w-title">
                    技能栈
                </p>
                <ul class="w-skill__list">
                    <li class="w-skill__item">
                        <span>HTML5</span>

                    </li>
                    <li class="w-skill__item">
                        <span>CSS3</span>
                    </li>
                    <li class="w-skill__item">
                        <span>PhotoShop</span>
                    </li>
                    <li class="w-skill__item">
                        <span>JQuery</span>
                    </li>
                    <li class="w-skill__item">
                        <span>Vue</span>
                    </li>
                    <li class="w-skill__item">
                        <span>Gulp</span>
                    </li>
                    <li class="w-skill__item">
                        <span>SCSS</span>
                    </li>

                </ul>

                <p class="w-skill__des">
                    精通DIV+CSS页面布局，熟悉w3c标准，了解HTML语义化
                </p>
                <p class="w-skill__des">
                    熟悉浏览器兼容及前端性能优化。
                </p>
                <p class="w-skill__des">
                    熟悉响应式布局、弹性盒布局、自适应布局，掌握CSS3动画
                </p>
                <p class="w-skill__des">
                    熟悉Vue、angular等框架
                </p>
                <p class="w-skill__des">
                    熟悉Git、SVN版本管理,掌握Sass、Less及Gulp构建工具
                </p>

            </div>
        </div>
        <div class="section page4">
            <div class="w-experience w__container">
                <p class="w-experience__title w-title">
                    经历
                </p>
                <ul class="w-experience__list">
                    <li class="w-experience__item ">
                        <i></i>
                        <div class="w-experience__time">
                            <p> 2012.9</p>
                            <p>2016.7</p>

                        </div>
                        <div class="w-experience__card">

                            <p class="w-experience__name">
                                厦门大学
                            </p>
                            <div class="w-experience__des">
                                本科：
                                <p>
                                    计算机科学与技术专业
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="w-experience__item ">
                        <i></i>
                        <div class="w-experience__time">
                            <p>2015.8</p>
                            <p>2015.10</p>

                        </div>
                        <div class="w-experience__card right">

                            <p class="w-experience__name">
                                福建省新大陆有限公司
                            </p>
                            <div class="w-experience__des">
                                实习阶段：
                                <p>
                                    1、基于div+css实现页面布局，兼容ie低版本，实现简单页面交互
                                </p>
                                <p>
                                    2、同期学习JavaScript、jQuery
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="w-experience__item ">
                        <i></i>
                        <div class="w-experience__time">
                            <p>
                                2016.7
                            </p>
                            <p> 至今</p>

                        </div>
                        <div class="w-experience__card">

                            <p class="w-experience__name">
                                福建省网龙网络公司
                            </p>
                            <div class="w-experience__des">
                                全职阶段：web前端开发
                                <p>
                                    1、使用原生JS+jquery进行前端开发
                                </p>
                                <p>
                                    2、用scss预编译，gulp自动构建,根据业务需求快速输出重构页面
                                </p>
                                <p>
                                    3、使用git svn进行版本控制
                                </p>
                                <p>
                                    4、同期学习Vue,es6,react,掌握组件化、模块化思维
                                </p>
                            </div>
                        </div>

                    </li>

                </ul>
            </div>
        </div>
        <div class="section page5">
            <div class="w-contact w__container">
                <p class="w-contact__title w-title">
                    联系我
                </p>

                <div class="w-contact__panel" onmouseover="ripplet(event, { spreadingDuration: '2s', clearingDelay: '1s', clearingDuration: '2s' })">
                    <ul class="w-contact__list">
                        <li class="w-contact__item">
                            <span>电话：</span>
                            <span>13003976082</span>
                        </li>
                        <li class="w-contact__item">
                            <span>微信：</span>
                            <span>xxxx</span>
                        </li>
                        <li class="w-contact__item">
                            <span>知乎：</span>
                            <span>xxxx</span>
                        </li>
                        <li class="w-contact__item">
                            <span>邮箱：</span>
                            <span>wangj.xmu@qq.com</span>
                        </li>
                    </ul>

                    <p class="w-contact__motto">不鹜于虚声，不驰于空想!</p>
                </div>
                <div class="w-contact__ball">
                    <div class="w-wrap w-wrap1a">
                        <div class='w-ball w-ball1a'></div>
                    </div>
                    <div class="w-wrap w-wrap1b">
                        <div class='w-ball w-ball1b'></div>
                    </div>
                    <span class='w-ball w-ball2'>代码</span>
                    <span class='w-ball w-ball3'>专注</span>
                    <span class='w-ball w-ball4'>梦想</span>
                    <div class="w-wrap w-wrap2a">
                        <div class='w-ball w-ball5a'></div>
                    </div>
                    <div class="w-wrap w-wrap2b">
                        <div class='w-ball w-ball5b'></div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</body>
@@include("./_include/_com-js.html")