@@include("./_include/_com-meta.html")
</head>

<body>
    <div class="w-side">
        <div class="w-inner"></div>
        <ul id="w-menu">
            <li data-menuanchor='page1' class="active">
                <a href="#page1" class="w-menu__item">
                    
                </a>
            </li>
            <li data-menuanchor='page2'>
                <a href="#page2" class="w-menu__item">
                   
                </a>
            </li>
            <li data-menuanchor='page3'>
                <a href="#page3" class="w-menu__item">
                    333
                </a>
            </li>
            <li data-menuanchor='page4'>
                <a href="#page4" class="w-menu__item">
                   
                </a>
            </li>
        </ul>
    </div>
    <div id="w-fullpage">
        <div class="section">
            111
        </div>
        <div class="section">
            222
        </div>
        <div class="section">
            333
        </div>
        <div class="section">
            444
        </div>
    </div>
   
</body>
@@include("./_include/_com-js.html")

